/* Dash */

$dash_background_color: rgba(255, 255, 255, 0.2);
$dash_placeholder_size: 32px;
$dash_padding: if($_sizevariant == 'default', ($base_padding + 4px), ($base_padding + 6px));
$dash_spacing: if($_sizevariant == 'default', ($base_padding / 4px), ($base_padding / 4px + 2));
$dash_bottom_margin: $base_icon_size;
$dash_border_radius: $base_border_radius + 3;

#dash {
  font-size: $base_font_size - 20;

  @if $shell_ver <= 3.38 { // 3.38 and 3.36
    @extend %overview_panel;
    padding: ($dash_padding / 2)*2 0;

    border-radius: 0 $dash_border_radius $dash_border_radius 0; 
    border-left-width: 0;
    &:rtl {
      border-radius: $dash_border_radius 0 0 $dash_border_radius;
      border-right-width: 0;
    }
  } 

  @if $shell_ver >= 40 { // GNOME 40
    margin-top: 2px;
    padding: 0 $dash_padding 0;

    .overview-icon {
      padding: 0; // reset
    }
    
    StIcon {
  		icon-shadow: 0 1px 5px 1px rgba(black, 0.5);
  	}
  }

  .placeholder {
    // background-image: url("resource:///org/gnome/shell/theme/dash-placeholder.svg");
    background-image:none;
    background-size: contain;
    height: $dash_placeholder_size;
  }

  .empty-dash-drop-target {
    width: $dash_placeholder_size;
    height: $dash_placeholder_size;
  }
  
  .app-well-app-running-dot {
  	height: 4px;
  	width: 4px;
  	border-radius:5px;
  	background-color: $osd_fg_color;
  	margin-bottom: 1px;
	}
	
	.app-well-app, .show-apps {
		.overview-icon {
			border-radius: $dash_border_radius - 2;
			padding: 6px;
		}
	}
}

// GNOME 40 specific theming
@if $shell_ver >= 40 {
  .dash-background {
  	border: 1px solid rgba(white, 0.07);
    background-color: $dash_background_color;
    margin-bottom: $dash_bottom_margin;
    padding: $dash_padding;
    border-radius: $dash_border_radius;
    box-shadow: 0 0 0 1px rgba(black, 0.85);
  }

  .dash-item-container .app-well-app, .show-apps {
    padding: $dash_padding 0 $dash_padding + $dash_bottom_margin;
  }

  .dash-separator {
    width: 1px;
    margin: 0 $dash_padding $dash_bottom_margin;
    background-color: transparentize($osd_fg_color, 0.7);
  }
}

// Dash Items
@if $shell_ver <= 3.38 {
  .dash-item-container > StWidget {
    padding: 0 $dash_padding;
  }
}

// OSD Tooltip
.dash-label {
  @if $shell_ver <= 3.38 { // 3.38 & 3.36
    background-color: transparentize($osd_bg_color,0.05);
    border-radius: $base_border_radius + 2px;
    // because of remain-unfixed box-shadow cut off, use border instead
    // see issue #1090 and #3068 at gnome-shell gitlab issues
    // i should wait #1053 merged finally in mutter for proper fix.
    // NOTE: it's fixed in GNOME 40, and also this bug is not present in 3.36.
    border: 1px solid $osd_outer_borders_color;
    box-shadow: none;
    background-clip: padding-box;
    padding: $base_padding $base_padding + 4px;
    -x-offset: $base_margin * 2; // distance from the dash edge
  } @else { // GNOME 40
    background-color: $osd_bg_color;
    border-radius: 99px;
    padding: $base_padding $base_padding * 2;
    -y-offset: $base_margin * 3; // distance from the dash edge
  }

  color: $osd_fg_color;
  text-align: center;
}

// Show apps button
.show-apps {
  @include overview-icon($osd_fg_color);

  &:focus,
  &:checked {
    .overview-icon {
      @if $shell_ver >= 3.36 and $shell_ver < 40 { background-color: darken($osd_bg_color,10%); }
      @else { background-color: transparentize($osd_bg_color,0.5); }
      color: $osd_fg_color;
    }
  }
}

