$text_color: if($variant == 'light', black, white);

// Rubberband for select-area screenshots
.select-area-rubberband {
  background-color: transparentize($selected_bg_color,0.7);
  border: 1px solid $selected_bg_color;
}

// User icon
.user-icon {
  background-size: contain;
  color: $fg_color;
  border-radius: 99px;
  border: 2px transparentize($fg_color, 0.25);
  &:hover {
    color: $text_color;
  }

  & StIcon {
    background-color: transparentize($base_color, 0.10);
    border-radius: 99px;
    
    padding: 14px;
    width: $base_icon_size * 2.5; height:  $base_icon_size * 2.5; // 40px;
  }
  
  @if $shell_ver >= 40 { // for GNOME 40??
  	icon-size: $base_icon_size * 4;
  	&.user-avatar {
  		border: 2px transparentize($fg_color, 0.25);
  	}
  }
}

.user-widget.vertical .user-icon {
  icon-size: $base_icon_size * 6; // 128px

  & StIcon {
    padding: $base_padding * 3 + 2px; // 20px
    padding-top: $base_padding * 3; // 18 px
    padding-bottom: $base_padding * 3 + 4px; // 22px
    width: $base_icon_size * 5.5; height:  $base_icon_size * 5.5; // 88px;
  }
}

.user-widget.horizontal .user-icon {
  icon-size: $base_icon_size * 4; // 64px

  & StIcon {
    padding: $base_padding * 2 ; // 12px
    width: $base_icon_size * 2.5; height:  $base_icon_size * 2.5; // 40px;
  }
}

.lightbox { background-color: black; }
.flashspot { background-color: white; }


// Hidden
.hidden { color: rgba(0,0,0,0);}

// Caps-lock warning
.caps-lock-warning-label {
  text-align: center;
  padding-bottom: 8px;
  font-size: $base_font_size - 10;
  color: $warning_color;
}
