/* OVERVIEW */

@if $shell_ver >= 40 {
	.controls-manager, .secondary-monitor-workspaces {
		spacing: if($_sizevariant == 'default', $base_spacing, $base_spacing * 2);
	}

	#overviewGroup {
		background-color: $system_bg_color;
	}
}

#overview {
  @if $shell_ver >= 3.36 and $shell_ver < 40 { spacing: 24px; }
  background-color: transparent;
}

.overview-controls {
  padding-bottom: 32px;
}
