/* Top Bar */
// a.k.a. the panel

$panel_corner_radius: 0;
$panel_bg_color: transparentize(black, 0.2);
$panel_fg_color: #ccc;
$panel_height: 32px;
$panel_transition_duration: 250ms;


#panel {
  background-color: $panel_bg_color;
  font-weight: bold;
  height: $panel_height;
  font-feature-settings: "tnum";

  @if $shell_ver >= 40 {
    transition-duration: $panel_transition_duration;

    &:overview { background-color: transparent; }
  }

  // transparent panel on lock & login screens
  &.unlock-screen,
  &.login-screen {
    background-color: transparent;

    .panel-corner {
      -panel-corner-radius: 0;
      -panel-corner-background-color: transparent;
      -panel-corner-border-color: transparent;
    }
  }

  // spacing between activities, app menu and such
  #panelLeft, #panelCenter {
    spacing: 0;
  }

  // the rounded outset corners
  .panel-corner {
    -panel-corner-radius: $panel_corner_radius;
    -panel-corner-background-color: $panel_bg_color;
    -panel-corner-border-width: 2px;
    -panel-corner-border-color: transparent;

    &:active, &:overview, &:focus {
      -panel-corner-border-color: lighten($selected_bg_color,5%);
    }
  }

  // remove panel dropdown arrows
  // NOTE: in GNOME 40 it was removed out of box
  // (although it's on JS level, not CSS level)
  // you can also use 'Remove dropdown arrows' shell extension too
  // to remove additional but unnoticeable small gap
  @if $shell_ver <= 3.38 {
    .popup-menu-arrow {
      width: 0;
      height: 0;
      padding: 0;
      color: transparent;
    }
  }

  // panel menus
  .panel-button {
    font-weight: bold;
    color: $panel_fg_color;
    -natural-hpadding: if($_sizevariant == 'default', $base_padding, $base_padding+2) * 2;
    -minimum-hpadding: if($_sizevariant == 'default', $base_padding, $base_padding+2);
    transition-duration: 150ms;
    border: 3px solid transparent;
    border-radius: 99px;
		
		StLabel { padding: 0 2px; }

    &.clock-display {
      .clock {
        transition-duration: 150ms;
        border: 3px solid transparent;
        border-radius: 99px;

        padding: 0 if($_sizevariant == 'default', $base_padding, $base_padding+2) * 2;
      }
    }

    &:hover, &:active, &:overview, &:focus, &:checked {
      box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.20);

      // The clock display needs to have the background on .clock because
      // we want to exclude the do-not-disturb indicator from the background
      &.clock-display {
        box-shadow: none;

        .clock {
          box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.20);
        }
      }
    }


    // status area icons
    .system-status-icon {
      icon-size: $base_icon_size;
      padding: if($_sizevariant == 'default', $base_padding, $base_padding+2) - 1px;
    }

    @if $shell_ver >= 40 {
      .panel-status-indicators-box .system-status-icon,
      .panel-status-menu-box .system-status-icon {
        margin: 0;
      }
    }

    // app menu icon
    .app-menu-icon {
      margin-left: if($_sizevariant == 'default', $base_margin, $base_margin+2);
      margin-right: if($_sizevariant == 'default', $base_margin, $base_margin+2);
      -st-icon-style: symbolic;
      // dimensions of the icon are hardcoded
    }

    // lock & login screen styles
    .unlock-screen &,
    .login-screen & {
      color: lighten($fg_color, 10%);
      &:focus, &:hover, &:active { color: lighten($fg_color, 10%); }
    }
  }

  .panel-status-indicators-box,
  .panel-status-menu-box {
    spacing: 2px;
  }

  // spacing between power icon and (optional) percentage label
  .power-status.panel-status-indicators-box {
    spacing: 0;
  }

  // indicator for active
  .screencast-indicator,
  .remote-access-indicator { color: $warning_color; }
}

// App Menu
#appMenu {
  spacing: if($_sizevariant == 'default', $base_spacing, $base_spacing+2);
  .label-shadow { color: transparent; }
}

@if $shell_ver >= 40 {
	#appMenu .panel-status-menu-box {
		padding: 0;
		spacing: 0;
	}
}
