/* Workspace pager */

// thumbnails in overview
.workspace-thumbnails {
  @if $shell_ver <= 3.38 { // 3.38 & 3.36
    @extend %overview_panel; 
    spacing: $base_spacing * 2;
    padding: $base_padding * 2;

    border-radius: $modal_radius 0 0 $modal_radius;
    border-right-width: 0;

    &:rtl {
      border-radius: 0 $modal_radius $modal_radius 0;
      border-left-width: 0;
    }
  }

  @if $shell_ver >= 40 { // GNOME 40
    spacing: 9px;
    padding: 6px;
    
    .workspace-thumbnail {
      @extend %overview_panel;
      border-radius: 3px;
    }
  }

  visible-width: 32px; //amount visible before hover

  // drag and drop indicator
  .placeholder {
    background-image: url("resource:///org/gnome/shell/theme/dash-placeholder.svg");
    background-size: contain;
    @if $shell_ver < 40 and $shell_ver >= 3.36 { height: 24px; }
    @else { width: 18px; }
  }
}

// selected indicator
.workspace-thumbnail-indicator {
  border: 3px solid $selected_bg_color;
  border-radius: 3px;
  padding: 0px;
  // background-color: transparentize($selected_bg_color, 0.9);
}
