/* Dash to Dock */
$dtd_padding: 4px;
$dtd_spacing: if($_sizevariant == 'default', $dash_spacing, ($dash_spacing + 1));
$dtd_margin: $dash_bottom_margin / 2;

#dashtodockContainer {
	// 3.38 and 3.36
	@if $shell_ver < 40 and $shell_ver >= 3.36 {
		&.left, &.right {
			#dash {
				padding: $base_margin+4 0;
			}

			.dash-item-container > StWidget {
				padding: 0 $base_margin+4;
			}
		}

		&.top, &.bottom {
			#dash {
				padding: 0 $base_margin+4;
			}

			.dash-item-container > StWidget {
				padding: $base_margin+4 0;
			}
		}

		&.extended #dash { border: 0; }
	}
	// 40
	@else {
		#dash {
			// legible running dot
			.app-well-app-running-dot {
				box-shadow: 0 0 0 1px rgba(black, 0.3);
			}
			
			.dash-background {
				padding: $dtd-padding;
				margin-bottom: $dtd-margin;
			}
			
			.dash-item-container .app-well-app, .show-apps {
    		padding: $dtd_padding 0 $dtd_padding + $dtd-margin;
  		}

  		.dash-separator {
    		margin: 0 $dtd_padding $dtd-margin;
  		}
		}
		
		&.left #dash {
			margin-right: 2px;
			padding: $dash_padding 0 0;
			
			.dash-background {
				margin-left: $dtd-margin;
			}
			
			.dash-item-container .app-well-app, .show-apps {
    		padding: $dtd_padding $dtd_padding 0 $dtd_padding + $dtd-margin;
  		}
		}
		
		&.right #dash {
			margin-left: 2px;
			padding: $dash_padding 0 0;
			
			.dash-background {
				margin-right: $dtd-margin;
			}
			
			.dash-item-container .app-well-app, .show-apps {
    		padding: $dtd_padding $dtd_padding + $dtd-margin 0 $dtd_padding;
  		}
		}

		&.extended {
			#dash {
				margin: 0;
				padding: 0;
			}

			.dash-item-container .app-well-app, .show-apps { padding: 0; }

			.dash-background {
				border: 0;
				padding: 0;
				margin: 0;
				background-color: rgba($osd_bg_color, 0.6);
				box-shadow: none;
			}

			.dash-separator { margin: 0 $dash_padding; }
		}
	}
}

/* Dash to Panel */
@each $_dtp_pos, $_line in (Top, 0 2px),
													 (Bottom, 0 -2px) {
	#panel.dashtopanelMainPanel.dashtopanel#{$_dtp_pos} {
		.app-well-app, .show-apps {
			&:focus,
			&:hover,
			&:active,
			&:checked {
				.overview-icon {
					border-radius: 0;
					background: none;
					box-shadow: none;
					color: $panel_fg_color; //override because it will darker in light variant
				}
			}
		}

		.panel-button {
			&.clock-display {
				.clock {
					box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.10);
				}

				&:hover, &:active, &:overview, &:focus, &:checked {
					.clock { box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.20); }
				}
			}
		}

		StButton.show-apps {
			border-radius: 0;
			&:hover, &:active, &:overview, &:focus, &:checked {
		 		background-color: rgba(255, 255, 255, 0.20);
			}

			.overview-icon { background-color: transparent; }
		}
	}
}

/* appindicator extension */
.appindicator-box {
	padding: 0 if($_sizevariant == 'default', $base_padding - 1, $base_padding + 1);
}
