@if $_sizevariant == 'compact' {
	/**** button.color sizing fix ****/
	button.color {
		min-width: 22px;
		min-height: 14px;
	}
	
	/**** CSD window controls tweak ****/
	windowcontrols button {
		padding: $_hb_btn_pad;
	}

	/**** reduce navigation-sidebar row height ****/
	.navigation-sidebar > row {
		min-height: 30px;
		padding: 0 4px;
	}

	/* Message dialog button padding reduce */
	window.dialog.message.csd .dialog-action-area button {
		padding: 6px 8px;
	}
}

windowcontrols button { margin: 0px; }

/**** switch tweaks ****/
$_inv_bg_color: desaturate(#f6f5f4, 100%);

switch {
	headerbar & {
		border-color: darken($borders_color, 3%);
		background-color: if($variant == 'light', 
                        darken($dark_fill, 8%), 
                        darken($dark_fill, 4%));

		&:backdrop {
			border-color: $backdrop_borders_color;
			background-color: $backdrop_dark_fill;

			&:checked {
      	@if $variant == 'light' { color: $backdrop_bg_color; }
      	border-color: if($variant == 'light', $checkradio_borders_color,
                                            	$selected_borders_color);
      	background-color: $checkradio_bg_color;
    	}
		}
	}
}

/**** scale/progressbar tweaks ****/
%_scale_classic_trough {
  border: 1px solid $borders_color;
  border-radius: 3px;
  background-color: $dark_fill;

  &:disabled { background-color: $insensitive_bg_color; }

  &:backdrop {
    background-color: $backdrop_dark_fill;
    border-color: $backdrop_borders_color;
    transition: $backdrop_transition;

    &:disabled { background-color: $insensitive_bg_color; }
  }
}

%_scale_classic_hilight {
	border: 1px solid $progress_border_color;
  border-radius: 3px;
  background-color: $progress_bg_color;

  &:disabled {
    background-color: transparent;
    border-color: transparent;
  }

  &:backdrop {
    border-color: if($variant=='light', $progress_bg_color,
                                        $progress_border_color);
    &:disabled {
      background-color: transparent;
      border-color: transparent;
    }
  }
}

%_hb_progress_scale {
	border-color: if($variant == 'light', 
                darken($borders_color, 8%), 
                darken($borders_color, 6%));
  background-color: if($variant == 'light', 
                    darken($dark_fill, 8%), 
                    darken($dark_fill, 6%));
                        
  &:backdrop {
    background-color: $backdrop_dark_fill;
    border-color: $backdrop_borders_color;
  }
}

scale {
	> trough, > trough > fill { @extend %_scale_classic_trough; }
	
	> trough > highlight { @extend %_scale_classic_hilight; }
}

progressbar {
	> trough { @extend %_scale_classic_trough; }
	
	> trough > progress { @extend %_scale_classic_hilight; }
}

headerbar {
	progressbar > trough { @extend %_hb_progress_scale; }
	scale {
		> trough, > trough > fill { @extend %_hb_progress_scale; }
	}
}

// bring back old levelbar
levelbar {
	> trough > block {
    border: 1px solid;
    border-radius: 1px;

    &.low {
      border-color: if($variant == 'light', darken($warning_color, 20%), $warning_color);
      background-color: $warning_color;

      &:backdrop { border-color: $warning_color; };
    }

    &.high,
    &:not(.empty) {
      border-color: if($variant == 'light', darken($progress_bg_color, 20%), $progress_bg_color);
      background-color: $progress_bg_color;

      &:backdrop { border-color: $progress_bg_color; }
    }

    &.full {
      border-color: if($variant == 'light', darken($success_color, 20%), $success_color);
      background-color: $success_color;

      &:backdrop { border-color: $success_color; };
    }

    &.empty {
      background-color: transparent;
      border-color: if($variant == 'light', transparentize($fg_color,0.8), transparentize($fg_color,0.9));

      &:backdrop { border-color: transparentize($backdrop_fg_color,0.85); }
    }
  }
}

/**** bring back top hilight in backdrop headerbar ****/
.titlebar:backdrop:not(headerbar), headerbar:backdrop {
	box-shadow: inset 0 1px $top_hilight;
}

/**** make OSD toolbar pretty or same as gtk3 ****/
.osd {
	padding: 13px;
	border-radius: 5px;
}

// special case for GtkVideo widget
video {
	.osd {
		padding: $_hb_btn_pad $_hb_btn_pad+1; // same as headerbar padding
		border-radius: 0;
	}
	// unfortunately the big play button became not rounded
	image.osd {
		border-radius: 99px;
	}
}
