/**** Nautilus ****/

.nautilus-window {
	notebook {
		> stack {
			background: $base_color;
		}
	}

	.disclosure-button {
  	padding-left: 4px;
  	padding-right: 4px;
	}


	.nautilus-canvas-item {
		border-radius: 5px;
	}

	.nautilus-canvas-item.dim-label,
	.nautilus-list-dim-label {
		color: mix($fg_color, $bg_color, 50%);
    	&:selected { color: mix($selected_fg_color, $selected_bg_color, 80%); }
	}

	entry.search > * {
		margin: 5px;
	}

	.nautilus-path-bar {
		button {
			margin: 0;
			&:not(:checked) image { opacity: 0.8; }
		}
	}

	.path-bar-box {
		border-radius: 5px;
		padding-right: 6px;

		border: 1px solid $borders_color;
		background-color: $bg_color;

		button:first-child {
			border-radius: 3.5px 0 0 3.5px;
			border-width: 0px 1px 0px 0px;
		}

		button:not(:first-child) {
			border-width: 0px 1px 0px 1px;
			border-radius: 0;
		}
	}
	
	.floating-bar {
		padding: 1px;
		background-color: $base_color;
		border-width: 1px;
		border-style: solid solid none;
		border-color: $borders_color;
		border-radius: 3px 3px 0 0;
		
		&.bottom.left {
			border-left-style: none;
			border-top-left-radius: 0;
		}
		
		&.bottom.right {
			border-right-style: none;
			border-top-right-radius: 0;
		}
		
		&:backdrop {
			background-color: $backdrop_base_color;
			border-color: $backdrop_borders_color;
		}
		
		button { padding: 0px; }
	}
}

// disk space piechart
$disk_space_unknown: #888a85;
$disk_space_used: #729fcf;
$disk_space_free: $osd_fg_color;

.disk-space-display {
	border-style: solid;
	border-width: 2px;

	&.unknown {
		background-color: $disk_space_unknown;
		border-color: shade($disk_space_unknown, 0.7);
		color: $disk_space_unknown;

		&.border { color: shade($disk_space_unknown, 0.7); }
	}

	&.used {
		background-color: $disk_space_used;
		border-color: shade($disk_space_used, 0.7);
		color: $disk_space_used;

		&.border { color: shade($disk_space_used, 0.7); }
	}

	&.free {
		background-color: $disk_space_free;
		border-color: shade($disk_space_free, 0.7);
		color: $disk_space_free;

		&.border { color: shade($disk_space_free, 0.7); }
	}
}

/**** Gedit ****/
.gedit-document-panel {
	background-color: $sidebar_bg_color;
}

.gedit-bottom-panel-paned ~ statusbar {
	border-top: 1px solid $borders_color;
}

.gedit-search-slider {
	background-color: $base_color;
	padding: 6px;
	background-clip: padding-box;
	border-color: if($variant == 'light', transparentize(black, 0.77), transparentize(black, 0.25));
	border-radius: 0 0 3px 3px;
	border-width: 0 1px 1px 1px;
	border-style: solid;
}

.gedit-search-entry-occurrences-tag {
	background-color: $base_color;
	background-image: none;
	color: shade($backdrop_fg_color, 0.8);
	border: 0px;
	margin: 2px;
	padding: 2px;
}

/**** xfce4 ****/

// FIXME: 
// using Mutter[-based] WMs the panels will uses :backdrop state
// so let's override it

.xfce4-panel {
	&, &.background {
		text-shadow: none;
		-gtk-icon-shadow: none;
	}

	button, button:backdrop {
		@include button(undecorated);
		border-radius: 0;
		border: 0;

		font-weight: 700;
		font-feature-settings: "tnum";
		
		label:backdrop { // backdrop override
			color: $fg_color;
		} 

		&:hover {
			background: mix($bg_color, $fg_color, 87%);
		} 

		&:active, &:checked {
			background: mix($bg_color, $fg_color, 82%);
			transition: none;
			// another backdrop override
			&:backdrop { background: none; }
		}

		&#applicationmenu-button,
		&#clock-button {
			image, label { padding: 0 4px; }
		}
	}

	&.vertical {
		&#applicationmenu-button,
		&#clock-button {
			image, label { padding: 4px 0; }
		}
	}

	widget.tasklist > button.toggle,
	widget.tasklist:backdrop > button.toggle:backdrop {
		@extend %button_basic;
		margin: 2px 1px;
		font-weight: normal;

		label { padding: 0; }
	}

	menu { font-weight: normal; }
}

// PulseAudio applet
#pulseaudio-button menu {
	.linked button {
		@extend %button_basic;
		@extend %linked;

		// special case for light variant button borders 
		// instead of creating 'artifacts' when hovering media controls section menuitem
		@if $variant == 'light' {
			&, &:hover, &:disabled { 
				border-color: transparentize(black, 0.77);
				border-bottom-color: transparentize(black, 0.7);
				background-clip: padding-box;
			}

			&:active { 
				border-color: transparentize(black, 0.7);
				border-top-color: transparentize(black, 0.64);
			}

			&:disabled { border-color: transparentize(black, 0.77); }
		}
	}
}

// session dialog
$xfsm_dialog_borders: if($variant == 'light', transparentize(black, 0.44), $borders_color);

dialog.xfsm-logout-dialog.keycap {
	background-color: $bg_color;
	box-shadow: none;
	border-color: $xfsm_dialog_borders;
	background-clip: padding-box;
	border-radius: $window_radius;
	
	separator.horizontal { background-color: transparent; }
}

// xfce4-notifyd
#XfceNotifyWindow {
	background-color: $bg_color;
	color: $fg_color;
	border-color: if($variant == 'light', transparentize(black, 0.77), $borders_color);
	background-clip: padding-box;
	box-shadow: none;
	border-radius: $window_radius;

	buttonbox { padding: 0; }

	button { 
		&, &:backdrop { 
			@include button(normal);

			&:hover { @include button(hover); }
			&:active { @include button(active); }
			&:disabled { @include button(insensitive); }
		} 
	}
}

/**** MATE desktop ****/

/**** MATE panel ****/
.mate-panel-menu-bar,
.mate-panel-menu-bar menubar,
.mate-panel-menu-bar menuitem,
#PanelPlug,
#PanelApplet button,
PanelToplevel.background,
#PanelApplet-window-menu-applet-button {
    border-image: none;
    box-shadow: none;
}

.mate-panel-menu-bar #PanelApplet button {
	&.flat, &.toggle, &.flat.toggle { 
		border-radius: 0;
	}
}

PanelToplevel {
	&.horizontal.top > grid {
    	border-style: outset;
    	border-width: 0px 0px 1px 0px;
    	border-color: $borders_color;
	}

	&.horizontal.bottom > grid {
    	border-style: outset;
    	border-width: 1px 0px 0px 0px;
    	border-color: $borders_color;
	}

	&.vertical.left > grid {
    	border-style: outset;
    	border-width: 0px 1px 0px 0px;
    	border-color: $borders_color;
	}

	&.vertical.right > grid {
    	border-style: outset;
    	border-width: 0px 0px 0px 1px;
    	border-color: $borders_color;
	}
}

MatePanelAppletFrameDBus > MatePanelAppletFrameDBus {
  background-image:
    repeating-linear-gradient(
      currentcolor,
      currentcolor 4px,
      transparent 4px,
      transparent 6px
    );
  background-repeat: no-repeat;
  background-size: 4px 10px;
  color: transparent;

  &:dir(ltr) {
    background-position: 3px;
  }

  &:dir(rtl) {
    background-position: calc(100% - 3px);
  }
}

na-tray-applet {
  -NaTrayApplet-icon-padding: 6px;
}

/**** Caja ****/
// pathbar toggle button
.caja-navigation-window box.horizontal > button.toggle.image-button {
	@extend %button_basic_flat;
}

// pathbar styling
// FIXME i want a GTK filechooser styled pathbar but it seems
// Caja has hardcoded padding/margin between pathbar buttons
.caja-pathbar button {
	&.slider-button {
		min-width: 24px;
	}
}

// left sidebar
.caja-side-pane notebook viewport.frame,
.caja-side-pane notebook widget .vertical {
  background-color: $sidebar_bg_color;
}

.caja-side-pane notebook,
.caja-notebook {
  border-top: 1px solid $borders_color;

  .frame {
    border-style: none;
  }
}

// toolbar tweaks
.caja-navigation-window toolbar {
	border-bottom: 1px solid $borders_color;
}

/**** Nemo FM ****/
$_storagebar_bg: mix($fg_color, $bg_color, 35%);
$_storagebar_backdrop: mix($fg_color, $bg_color, 20%);

.nemo-window {
	.sidebar {
		scrolledwindow.frame { 
			border: none;

			.view {
				background-color: $sidebar_bg_color;
				&:backdrop { 
					background-color: $backdrop_sidebar_bg_color;
					color: inherit;
				}

				&:hover { background: darken($popover_hover_color, 5%); }

				&:active,
				&:selected {
					&, &:hover { background: $popover_hover_color; }

					color: inherit; 

					&:backdrop {
						background: $popover_hover_color;
						color: inherit;
					}
				}
			}
		}
		
		.places-treeview {
			-NemoPlacesTreeView-disk-full-bg-color: $_storagebar_bg;
    	-NemoPlacesTreeView-disk-full-fg-color: $fg_color;
    	-GtkTreeView-vertical-separator: 8;
    	
    	&:backdrop {
    		-NemoPlacesTreeView-disk-full-bg-color: $_storagebar_backdrop;
    		-NemoPlacesTreeView-disk-full-fg-color: $backdrop_fg_color;
    	}
		}
	}

	.nemo-window-pane widget.entry {
    	border: 0;
    	border-radius: $button_radius;
    	background-color: $base_color;

    	@include entry(focus);

    	&:selected { &:focus, & { @extend %selected_items; }}
  	}

  	.nemo-canvas-item.dim-label,
	.nemo-dim-list-label {
		color: mix($fg_color, $bg_color, 50%);
    	&:selected { color: mix($selected_fg_color, $selected_bg_color, 80%); }
	}

	toolbar.horizontal.primary-toolbar { 
		border-bottom: 1px solid $borders_color;
		padding: 4px;
		padding-top: 5px;
		&:dir(ltr) { padding-left: 5px; }
		&:dir(rtl) { padding-right: 5px; }

		toolitem box widget * {
			min-height: 0;
			min-width: 0;
		}

		.linked button { margin-right: 0; }
	}

	grid.vertical > widget {
		> box { padding: 0; }
		box-shadow: 0 -1px $borders_color;
		button { 
			@extend %button_basic_flat;
			&:hover { @include button(hover); }
			&:active { @include button(active); }
		}
	}

	.floating-bar {
		padding: 1px;
		background-color: $base_color;
		border-width: 1px;
		border-style: solid solid none;
		border-color: $borders_color;
		border-radius: 3px 3px 0 0;
		
		&.bottom.left {
			border-left-style: none;
			border-top-left-radius: 0;
		}
		
		&.bottom.right {
			border-right-style: none;
			border-top-right-radius: 0;
		}
		
		&:backdrop {
			background-color: $backdrop_base_color;
			border-color: $backdrop_borders_color;
		}
		
		button { padding: 0px; }
	}
}

/**** LightDM Gtk Greeter/Xfce4-screensaver ****/
.lightdm-gtk-greeter {
	#login_window,
  #restart_dialog,
  #shutdown_dialog {
  	padding: 0;
  	border-color: if($variant == 'light', transparentize(black, 0.77), transparentize(black, 0.25));
  	background-clip: padding-box;
  	box-shadow: inset 0 1px $borders_edge;

  	font-size: 100%; // fix small font size in shutdown/restart dialog
  }

  #login_window {
  	button.combo {
  		padding: 2px 0;
  		@include button(undecorated);
  		font-size: 13pt;
  		font-weight: bold;

  		&:hover { color: $text_color; }
  	}

  	infobar {
  		margin: 6px 1px;
  	}
	}

	#panel_window {
		color: $fg_color;
		text-shadow: none;
		-gtk-icon-shadow: none;

		border-bottom: 1px solid if($variant == 'light', transparentize(black, 0.77), transparentize(black, 0.25));
		background-color: if($variant == 'light', transparentize($bg_color, 0.2), transparentize($bg_color, 0.05));
		background-clip: padding-box;

		menubar {
			&:disabled { 
				label, image { color: $insensitive_fg_color; }
			}
		}
	}
}
